<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker Microservice</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="header text-center">
      <h1>Exercise Tracker</h1>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <h3 class='form-header'>Create a New User</h3>
          <form action="/api/users" method="post">
            <p><code>POST /api/users</code></p>
            <input class="form-control text-input" id="uname" type="text" name="username" placeholder="username">
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

        <div class="col-md-6 text-center">
          <h3 class='form-header'>Add Exercises</h3>
          <form id="exercise-form" method="post">
            <p><code>POST /api/users/:_id/exercises</code></p>
            <input class="form-control text-input" id="uid" type="text" name=":_id" placeholder=":_id">
            <input class="form-control text-input" id="desc" type="text" name="description" placeholder="description*">
            <input class="form-control text-input" id="dur" type="text" name="duration" placeholder="duration* (mins.)">
            <input class="form-control text-input" id="dat" type="text" name="date" placeholder="date (yyyy-mm-dd)">
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="get-info">
          <p>
            <strong>GET user's exercise log: </strong>
            <code>GET /api/users/:_id/logs?[&amp;from][&amp;to][&amp;limit]</code>
          </p>
          <p><strong>[ ]</strong> = optional</p>
          <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
        </div>
      </div>
    </div>

    <script>
      const exerciseForm = document.getElementById("exercise-form");

      exerciseForm.addEventListener("submit", () => {
        const userId = document.getElementById("uid").value;
        exerciseForm.action = `/api/users/${userId}/exercises`;
        exerciseForm.submit();
      });
    </script>
  </body>
</html>
