.header {
  padding: 3%;
}

.container {
  margin: 2% 3% 4% 3%;
}

.form-header {
  margin-bottom: 20px;
}

form {
  padding: 30px;
  background-color: #EEEEEE;
  display: inline-block;
  width: 70%;
  border-radius: 5px;
}

.text-input {
  margin-bottom: 15px;
}

.get-info {
  padding-top: 30px;
  width: 83%;
  margin: auto;
}
